language: ruby
sudo: false
cache: bundler

# whitelist
branches:
  only:
    - gh-pages

rvm:
  - 2.2.3
script: bundle exec jekyll build && htmlproof --check-html --disable-external ./_site
install: bundle install

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
